<!DOCTYPE html>
<html lang="en">
{% import 'bootstrap5/form.html' as wtf %}
{% from 'bootstrap5/utils.html' import render_icon %}

<head>
  <meta charset="UTF-8">
  <title>Our page</title>

  {% block styles %}
  <!-- Bootstrap CSS -->
  {{ bootstrap.load_css() }}
  {% endblock %}
</head>

<body>
  {% block navbar %}
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('index') }}">BnB</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
        aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Some Links
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <!-- https://bootstrap-flask.readthedocs.io/en/stable/macros/?highlight=render_icon#render-icon -->
              <li><a class="dropdown-item" href="{{ url_for('orders.list_coffee_orders') }}">{{ render_icon('list') }} List coffee orders</a></li>
              <li><a class="dropdown-item" href="{{ url_for('orders.order_coffee') }}">{{ render_icon('plus') }} Order coffee</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% endblock navbar %}
  {% block body %}
  <main>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-19 mx-auto">
          <!-- https://getbootstrap.com/docs/5.2/getting-started/introduction/ -->
          {% block custom_content %}
          {% endblock %}
        </div>
      </div>
    </section>
  </main>
  {% endblock %}

  {% block scripts %}
  <!-- Optional JavaScript -->
  {{ bootstrap.load_js() }}
  {% endblock %}
  
</body>

</html>